*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	color: inherit;
}
body{
	max-width: 100%;
}
a{
	text-decoration: none;
}
ul,li{
	list-style-type: none;
}
header{
	width: 100%;
	height: 45px;
	background: linear-gradient(to bottom,#086ed5,#055db5);
	color: #fff;
	overflow: hidden;
}
.header-title{
	margin: 8px 0 0 40px;
	float: left;
	width: 200px;
}
header nav{
	float: left;
}
header nav ul li{
	float: left;
	display: inline-block;
}
header nav ul li a{
	display: block;
	padding: 0 15px;
	height: 45px;
	font-size: 16px;
	line-height: 45px;
	text-align: center;
}
header nav ul li a:hover{
	background: linear-gradient(to bottom,#055fb8,#095fb3);
}
.current{
	background: linear-gradient(to bottom,#055fb8,#095fb3);
}
.btn{
	background: linear-gradient(to bottom,#0e7bef,#0d73da);
	color: #fff;
	font-size: 13px;
	border: 1px solid #045bb2;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15);
	cursor: pointer;
}
header a{
	font-size: 24px
}
#quitButton,header p{
	float: right;
}
#quitButton{
	margin: 8px 30px 0 0;
	width: 55px;
	line-height: 28px;
}
header p{
	display: inline-block;
	float: right;
	margin-top: 11px;
	margin-right: 17px;
}
header p strong{
	margin: 0 5px;
}
.container{
	position: relative;
	margin: 0 auto;
	width: 768px;
	overflow: hidden;
}