table { 
 	border-collapse:collapse; 
 	border-spacing:0; 
 	width: 100%;
} 
tr,td { 
 	padding: 0; 
}
.title{
	margin-top: 10px;
	width: 100%;
	background: linear-gradient(to bottom,#086ed5,#055db5);
	border-radius: 4px 4px 0 0;
}
.title h3{
	margin-bottom: 5px;
	padding-left: 10px;	 
	height: 45px;
	font-size: 24px;
	color: #fff;
	line-height: 45px;	
	overflow: hidden; 
}
.newFile{
	margin-bottom: 5px;
	padding-left: 5px;
	height: 30px;	
	line-height: 30px;
}
.newFile input{
	width: 400px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.newFile a{
	display: inline-block;
	margin-left: 10px;
	width: 50px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}
.table tbody tr{
	line-height: 30px;
	border-top: 1px solid #90ABC6;
	border-bottom: 1px solid #90ABC6;
}
.table td{
	border-left: 1px solid #90ABC6;
	padding: 0 15px 0 5px;
}
.table-hover tbody tr:hover{
	background-color: #F0F5FB;
}
.main tbody td{
	text-align: center;
}
.table-border thead{
	border-top: 1px solid #90ABC6;
	border-bottom: 1px solid #90ABC6;
}
.table-border thead td{
	font-weight: 600;
	line-height: 30px;
}
.fname{
	width: 45%;
}
.fperson{
	width: 30%;
}
td:last-of-type{
	width: 10%;
	text-align: center;
	border-right: 1px solid #90ABC6;
}
td span{
	color: #999;
	font-size: 12px;
}
#download{
	padding: 4px 10px;
}
